<section class="contact">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-3">
        <label for="firstName" class="form-label">{{ 'contact.firstName' | translate}} *</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" required
          [ngClass]="displayFieldCss('firstName')">
        <app-field-error-display [displayError]="isFieldValid('firstName')"
          errorMsg="{{ 'contact.firstNameError' | translate}}">
        </app-field-error-display>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">{{ 'contact.lastName' | translate}} *</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" required
          [ngClass]="displayFieldCss('lastName')">
        <app-field-error-display [displayError]="isFieldValid('lastName')"
          errorMsg="{{ 'contact.lastNameError' | translate}}">
        </app-field-error-display>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">{{ 'contact.email' | translate}} *</label>
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" required email
          [ngClass]="displayFieldCss('email')">
        <app-field-error-display [displayError]="isFieldValid('email')"
          errorMsg="{{ 'contact.emailError' | translate}}">
        </app-field-error-display>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">{{ 'contact.phone' | translate}} *</label>
        <input type="tel" class="form-control" formControlName="phone" id="phone" required
          [ngClass]="displayFieldCss('phone')">
        <app-field-error-display [displayError]="isFieldValid('phone')"
          errorMsg="{{ 'contact.phoneError' | translate}}">
        </app-field-error-display>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">{{ 'contact.message' | translate}} *</label>
        <textarea class="form-control" formControlName="message" id="message" required
          [ngClass]="displayFieldCss('message')" rows="3"></textarea>
        <app-field-error-display [displayError]="isFieldValid('phone')"
          errorMsg="{{ 'contact.messageError' | translate}}">
        </app-field-error-display>
      </div>
      <div class="mb-3 form-check">
        <label class="form-check-label" for="termsAndConditions">{{ 'contact.terms' | translate}}</label>
        <input type="checkbox" class="form-check-input" id="termsAndConditions" formControlName="terms">
        <app-field-error-display [displayError]="isFieldValid('terms')"
          errorMsg="{{ 'contact.termsError' | translate}}">
        </app-field-error-display>
      </div>
      <button type="submit" class="btn btn-primary">{{ 'contact.submit' | translate}}</button>
    </form>
  </div>
</section>