.navbar {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 576px) {
  .navbar {
    background: rgba(var(--bs-light-rgb), 1);
  }
}

@media (min-width: 576px) {
  .navbar {
    background: transparent;
  }
}

.sticky {
  background: rgba(var(--bs-light-rgb), 1);
}