
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/home">
      <img src="../assets/images/logo_small.png" width="45" alt="" class="d-inline-block align-middle mr-2">
      <span class="text-uppercase font-weight-bold">Sonicware</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active"><a href="#" routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" routerLink="/services" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="#" routerLink="/partners" class="nav-link">Partners</a></li>
        <li class="nav-item"><a href="#" routerLink="/about" class="nav-link">About</a></li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>