<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Few words about or partners</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img height="500" width="500" src="../assets/images/home5.jpg">
      </div>
      <div class="col-sm">
        <h2 class="display-4 fw-bolder">{{ 'home.h2' | translate }}</h2>
        <p class="fw-lighter">parteneri</p>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="display-4 fw-bolder">{{ 'home.h2' | translate }}</h2>
        <hr class="divider">
        <p class="fw-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
      </div>
      <div class="col-sm">
        <img height="500" width="500" src="../assets/images/home1.jpg">
      </div>
    </div>
  </div>
</section>