<section class="home">
  <div class="container">
    <div class="row mx-0">
      <div class="col-sm px-0">
        <h2 class="display-4 fw-bolder pb-4">{{ 'home.h2' | translate }}</h2>
        <p class="fw-lighter text-muted py-4">{{ 'home.p' | translate }}</p>
      </div>
      <div class="col-sm px-0">

      </div>
    </div>
  </div>
</section>
<section class="clients bg-light">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-sm">
        <a target="_blank" href="https://ec.europa.eu"><img src="../assets/images/ec.png" />
        </a>
      </div>
      <div class="col-sm">
        <a target="_blank" href="https:/raiffeisen.ro"><img src="../assets/images/raiffeisen.png" />
        </a>

      </div>
      <div class="col-sm">
        <a target="_blank" href="https://www.unisystems.com"><img height="45" src="../assets/images/unisystems.jpg" />
        </a>
      </div>
      <div class="col-sm">
        <a target="_blank" href="http://lifeincodes.com"><img src="../assets/images/life_in_codes.png" />
        </a>
      </div>
    </div>
  </div>
</section>
<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img height="500" width="500" src="../assets/images/home1.jpg">
      </div>
      <div class="col-sm">
        <h2 class="display-4 fw-bolder">{{ 'home.info.h2' | translate }}</h2>
        <hr class="divider">
        <p class="fw-lighter">{{ 'home.info.p' | translate }}</p>
      </div>
    </div>
  </div>
</section>