<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="display-4 fw-bolder">{{ 'home.h2' | translate }}</h2>
        <p class="fw-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>
</section>
<section class="clients bg-light">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-sm">
        <a target="_blank" href="https://ec.europa.eu"><img height="45"
            src="../assets/images/ce_logo/{{ currentLang }}/{{ currentLang }}_pantone.png" />
        </a>
      </div>
      <div class="col-sm">
        <a target="_blank" href="https:/raiffeisen.ro"><img height="45" src="../assets/images/raiffeisen.png" />
        </a>

      </div>
      <div class="col-sm">
        <a target="_blank" href="https://www.unisystems.com"><img height="45" src="../assets/images/unisystems.jpg" />
        </a>
      </div>
      <div class="col-sm">
        <a target="_blank" href="http://lifeincodes.com"><img height="45" src="../assets/images/life_in_codes.png" />
        </a>
      </div>
    </div>
  </div>
</section>
<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="display-4 fw-bolder">{{ 'home.h2' | translate }}</h2>
        <hr class="divider">
        <p class="fw-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
      </div>
      <div class="col-sm">
        <img height="500" width="500" src="../assets/images/home1.jpg">
      </div>
    </div>
  </div>
</section>