<section class="home">
  <div class="container">
    <div class="row mx-0">
      <div class="col-sm px-0">
        <h2 class="display-4 fw-bolder pb-4">{{ 'home.h2' | translate }}</h2>
        <p class="fw-lighter text-muted py-4">{{ 'home.p' | translate }}</p>
      </div>
      <div class="col-sm px-0">

      </div>
    </div>
  </div>
</section>
<section class="clients bg-light">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-sm" *ngFor="let partner of partners">
        <a target="_blank" href="{{ partner.website }}"><img src="{{ partner.imageUrl }}" />
        </a>
      </div>
    </div>
  </div>
</section>
<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img height="500" width="500" src="../assets/images/home1.jpg">
      </div>
      <div class="col-sm">
        <h2 class="display-4 fw-bolder">{{ 'home.info.h2' | translate }}</h2>
        <hr class="divider">
        <p class="fw-lighter">{{ 'home.info.p' | translate }}</p>
      </div>
    </div>
  </div>
</section>